/* -----------------------------------------------------------------------------
/* general guidelines
/* -----------------------------------------------------------------------------
/* body */
body {font-family: 'Work Sans', sans-sans-serif; font-color: black;  font-size: 16px; text-align: justify;}
/* href text */
a {text-decoration: none; color: black;}
/* href hover */
a:hover {text-decoration: none; color: #800000;}
/* footer */
footer {font-color: black; font-size: 12px;}

/* -----------------------------------------------------------------------------
/* index.html guidelines
/* -----------------------------------------------------------------------------
/* text wrapper */
#index-wrapper{width: 900px; margin: 10vw auto}
/* image */
img {display: inline-block; margin: -17.5px 100px 0px 0px}

/* -----------------------------------------------------------------------------
/* research.html guidelines
/* -----------------------------------------------------------------------------
/* text wrapper */
#research-wrapper{width: 1000px; margin: 3vw auto;}

/* -----------------------------------------------------------------------------
/* policy.html guidelines
/* -----------------------------------------------------------------------------
/* text wrapper */
#policy-wrapper{width: 1000px; margin: 3vw auto;}
